subscription_id = "00000000-0000-0000-0000-000000000000"
tenant_id       = "00000000-0000-0000-0000-000000000000"
location        = "westeurope"
prefix          = "prod"
dns_prefix      = "prod-aks-prod"

hub_address_space   = ["10.110.0.0/16"]
spoke_address_space = ["10.120.0.0/16"]

hub_subnets = {
  AzureBastionSubnet = {
    address_prefixes = ["10.110.1.0/24"]
  }
  shared-services = {
    address_prefixes = ["10.110.2.0/24"]
  }
}

spoke_subnets = {
  aks = {
    address_prefixes = ["10.120.1.0/24"]
  }
}

acr_sku                     = "Premium"
acr_georeplication_locations = ["northeurope"]
aks_sku_tier                = "Standard"
pod_cidr                    = "10.250.0.0/16"
service_cidr                = "10.100.0.0/16"
dns_service_ip              = "10.100.0.10"

default_node_pool = {
  name                         = "system"
  vm_size                      = "Standard_D4s_v5"
  node_count                   = 3
  os_disk_size_gb              = 128
  max_pods                     = 50
  only_critical_addons_enabled = true
  os_disk_type                 = "Ephemeral"
  host_encryption_enabled      = true
}
